<div class="container">
    <div class="row">
      <div class="col-lg-12 mt-4 mb-4">
        <img src="assets/banner.jpg" class="w-100"/>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
    @for (prod of products$ | async; track prod.id){
<div class="col-4 mb-4">
    <div class="card">
        <img src={{prod.image}} class="card-img-top product-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{prod.title}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
</div>
    }
</div>
</div>